div
    div.outer
        div.numbers
            ul
                - values = [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
                each value in values
                    li= value
            div.overlay
        div.edge

br
br
div.big
    div
div.small
br
br
img(src='http://media-cache-ec0.pinimg.com/736x/cb/a7/f3/cba7f35af6de7c9537aca19227003cfb.jpg')